ENVIRONMENT=dev
DRIVER=~fastapi
HOST=0.0.0.0
PORT=
SUPERUSERS=[""]

COMMAND_START=["/", ""]


##### MySQL #####
# icpc
ICPC_DB_HOST=
ICPC_DB_USER=
ICPC_DB_PASSWORD=
ICPC_DB_NAME=
ICPC_DB_PORT=

# API_KEY=your_api_key_here

##### 考勤相关 #####
DAY_START=8 # 表示第一天的八点
DAY_END=2 # 表示第二天的两点

##### NoneBot Token #####
ONEBOT_ACCESS_TOKEN=

### 数据目录 ###
NONEBOT_DATA_DIR=
DATA_DIR=
IMAGES_DIR=
IMAGES_COMPRESS_DIR=