ENVIRONMENT=dev
DRIVER=~fastapi
HOST=0.0.0.0
PORT=
SUPERUSERS=[""]

COMMAND_START=["/", ""]


##### MySQL #####
# icpc
ICPC_DB_HOST=
ICPC_DB_USER=
ICPC_DB_PASSWORD=
ICPC_DB_NAME=
ICPC_DB_PORT=

##### QQ控制 #####
QQ_CONTROL_HOST=
QQ_CONTROL_PORT=
QQ_CONTROL_TOKEN=

##### NoneBot Token #####
ONEBOT_ACCESS_TOKEN=

##### 考勤插件 #####
# 表示第一天的八点
DAY_START=8
# 表示第二天的两点
DAY_END=2
# 定时发送的时间
TIMING_HOUR=10
TIMING_MINUTE=30
TIMING_SECOND=00

### 随机延迟回复插件 ###
DELAY_ENABLED=true
# 最短睡眠时间
MIN_SLEEP_TIME=0.3
# 最长睡眠时间
MAX_SLEEP_TIME=1.0


### 数据目录 ###
# nonebot 数据目录
NONEBOT_DATA_DIR=
# napcat 数据目录
DATA_DIR=
# sql语句存放目录
SQL_DIR=
# 图片存放目录
IMAGES_DIR=
# 压缩图片存放目录
IMAGES_COMPRESSED_DIR=
# 过题图片存放目录
SUB_RANKING_DIR=

### redis配置 ###
NEW_OJ_HOST=
NEW_OJ_PORT=
NEW_OJ_PASSWORD=
NEW_OJ_DB=