ENVIRONMENT=dev
DRIVER=~fastapi
HOST=0.0.0.0
PORT=
SUPERUSERS=[""]

COMMAND_START=["/", ""]

##### QQ控制 #####
QQ_CONTROL_HOST=
QQ_CONTROL_PORT=
QQ_CONTROL_TOKEN=

##### NoneBot Token #####
ONEBOT_ACCESS_TOKEN=

##### MySQL #####
# icpc
ICPC_DB_HOST=
ICPC_DB_USER=
ICPC_DB_PASSWORD=
ICPC_DB_NAME=
ICPC_DB_PORT=
ICPC_DB_POOL_SIZE=20
# DiTingBot
BOT_DB_HOST=
BOT_DB_USER=
BOT_DB_PASSWORD=
BOT_DB_NAME=
BOT_DB_PORT=
BOT_DB_POOL_SIZE=20

### redis配置 ###
NEW_OJ_REDIS_HOST=
NEW_OJ_REDIS_PORT=
NEW_OJ_REDIS_PASSWORD=
NEW_OJ_REDIS_DB=0
NEW_OJ_REDIS_MAX_CONNECTIONS=20
NEW_OJ_REDIS_SOCKET_timeout=5
NEW_OJ_REDIS_SOCKET_CONNECT_TIMEOUT=5
NEW_OJ_REDIS_DECODE_RESPONSES=true
NEW_OJ_REDIS_RETRY_ON_TIME=true
NEW_OJ_REDIS_HEALTH_CHECK_INTERVAL=30


### 数据目录 ###
# nonebot 数据目录
NONEBOT_DATA_DIR=
# napcat 数据目录
DATA_DIR=
# sql语句存放目录
SQL_DIR=
# 图片存放目录
IMAGES_DIR=
# 压缩图片存放目录
IMAGES_COMPRESSED_DIR=
# 过题图片存放目录
SUB_RANKING_DIR=


# 是否开启 Prometheus 插件
PROMETHEUS_ENABLE=true
# Prometheus 挂载地址
PROMETHEUS_METRICS_PATH=/metrics
# 限制聊天查询命令只能管理员使用，默认 true
PROMETHEUS_CHAT_NEEDS_ADMIN=true

###############################
#   本 地  插 件 变 量 配 置   #
###############################

##### check_up 考勤插件 #####
# 表示第一天的八点
DAY_START=8
# 表示第二天的两点
DAY_END=2
# 定时发送的时间
TIMING_HOUR=10
TIMING_MINUTE=30
TIMING_SECOND=00

### sleep 随机延迟回复插件 ###
DELAY_ENABLED=true
# 最短睡眠时间
MIN_SLEEP_TIME=0.3
# 最长睡眠时间
MAX_SLEEP_TIME=1.0